
@{
    ViewBag.Title = "Tempature";
}

<h2>Tempature</h2>

<form method="post" >
    <input type="number" name="msg" value="" placeholder="whats your body tempature?" /><br />

   
    <input type="submit" value="send" />
    
    
</form> 

<h3>@ViewBag.somebody</h3>